body {
    padding: 20px;
}

.App {
    margin: 0 auto;
    width: 400px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
}

.App > span {
    width: 100%;
    text-align: right;
    margin-right: 80px;
    margin-bottom: 10px;
}

.inputWrapper {
    width: 60%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.inputWrapper > label {
    font-size: 25px;
    font-weight: 700;
    margin-right: 10px;
}

.inputWrapper > input {
    height: 80%;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}
